.bucket {
  height: 100vh;
  background-image: url("https://images.macrumors.com/t/CJsQf6PILZcsV-ppq84ER0CShnI=/800x0/article-new/2022/07/Apple-Park-View.jpeg?lossy");
  background-size: cover;
  width: 100vw;
}

.auth {
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  width: 70vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 120px;
}

.second-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.button {
  color: white;
  padding: 10px 35px;
  border-radius: 20px;
  width: 55vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 0 #000;

  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );

  border: solid 3px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #08f,
    #f03 99%,
    transparent
  );

  background: 
  var(--main-bg) padding-box,
  var(--gradient-border) border-box,
  var(--main-bg) border-box;;
  background-position: center center;

  animation: bg-spin 5s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }



@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.button-green {
  background-color: green;
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 20px;
}

.logo {
  background-color: transparent;
  height: 20px;
  margin-right: 8px;
}

.heading-main {
  font-family: OpenSans;
  font-style: italic;
  font-size: 28px;
  font-weight: 600;
}


@media (max-width: 768px) {
  .auth {
    height: 15vh;
    width: 90vw;
  }

  .button {
    font-size: 17px;
    width: 80vw;
  }

  .heading-main {
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .auth {
    height: 20vh;
    width: 90vw;
  }

  .button {
    font-size: 22px;
    width: 80vw;
  }
}
